<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat app</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        var socketAddress = {{.Host}};
    </script>
</head>

<body>
    <div class="container">
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <h1>Chat app stats here! - version from template!</h1>
        <ul id="messages"></ul>
        <form id="chatbox">
            <div class="label">
                <img class="picture" src="{{.UserData.Picture}}" alt="{{.UserData.Name}}" align="center">
                <label for="message">{{.UserData.Name}}</label>
            </div>
            <textarea name="message" id="message"></textarea>
            <input id="submit" type="submit" value="Send" />
        </form>

        <script src="/static/socket.js"></script>
    </div>
</body>

</html>