<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat app</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        var socketAddress = {{.Host}};
    </script>
</head>

<body>
    <div class="container">
        <h1>Chat app stats here! - version from template!</h1>
        <ul id="messages"></ul>
        <form id="chatbox">
                {{.UserData.Name}}:<br/>
            <label for="message">Input text</label>
            <textarea name="message" id="message"></textarea>
            <input id="submit" type="submit" value="Send" />
        </form>

        <script src="/static/socket.js"></script>
    </div>
</body>

</html>